# PyCity Schools Analysis:
### Data Trends: ...
### Data Trends: ...

In [1]:
# Setup
import pandas as pd
from pathlib import Path

# File load
schools_import_data = Path('Resources/schools_complete.csv')
students_import_data = Path('Resources/students_complete.csv')

# Store data in Pandas DataFrame & rename headers
schools_df = pd.read_csv(schools_import_data)
schools_df = schools_df.rename( columns = {
    'school_name' : 'School',
    'type' : 'Type',
    'size' : 'Size',
    'budget' : 'Budget'})

students_df = pd.read_csv(students_import_data)
students_df = students_df.rename( columns = {
    'student_name' : 'Student Name',
    'gender' : 'Gender',
    'school_name' : 'School',
    'grade' : 'Grade',
    'reading_score' : 'Reading Score',
    'math_score' : 'Math Score'})

# Combine data
combined_school_df = pd.merge(students_df, schools_df, how = 'left', on = ['School', 'School'])

combined_school_df.head()

,Student ID,Student Name,Gender,Grade,School,Reading Score,Math Score,School ID,Type,Size,Budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

In [2]:
# Check for missing data
combined_school_df.count()

Student ID       39170
Student Name     39170
Gender           39170
Grade            39170
School           39170
Reading Score    39170
Math Score       39170
School ID        39170
Type             39170
Size             39170
Budget           39170
dtype: int64

In [3]:
# Number of unique schools
school_sum = len(combined_school_df['School'].unique())
print(f'There are {school_sum} schools total')

There are 15 schools total

In [4]:
# Number of students
# len(combined_school_df['student_name'].unique())
# len(students_df['student_name'].unique())
# 32715 --Why is this wrong??

student_sum = combined_school_df['Student Name'].count()
print(f'There are {student_sum} students total')

There are 39170 students total

In [15]:
# Total budget
budget_sum = schools_df['Budget'].sum()
print(f'There is a total of $ {budget_sum} budgeted')

There is a total of $ 24649428 budgeted

In [6]:
# Average math score
math_avg = combined_school_df['Math Score'].mean()
print(f'The average math score is {round(math_avg, 2)}')

The average math score is 78.99

In [7]:
# Average reading score
reading_avg = combined_school_df['Reading Score'].mean()
print(f'The average reading score is {round(reading_avg, 2)}')

The average reading score is 81.88

In [8]:
# Percentage who passed math
# passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
# passing_math_percentage = passing_math_count / float(student_count) * 100
# passing_math_percentage
math_pass_sum = combined_school_df[(combined_school_df['Math Score'] >= 70)].count()['Student Name']
math_pass_rate = (math_pass_sum / float(student_sum)) * 100
print(f'{round(math_pass_rate,2)} % of students passed math')

74.98 % of students passed math

In [9]:
# Percentage who passed reading
reading_pass_sum = combined_school_df[(combined_school_df['Reading Score'] >= 70)].count()['Student Name']
reading_pass_rate = (reading_pass_sum / float(student_sum)) * 100
print(f'{round(reading_pass_rate, 2)} % of students passed reading')

85.81 % of students passed reading

In [10]:
# Percentage who passed both math and reading
math_reading_sum = combined_school_df[
    (combined_school_df['Math Score'] >= 70) & (combined_school_df['Reading Score'] >= 70)].count()['Student Name']
math_reading_rate = ((math_reading_sum / float(student_sum)) * 100)
print(f'{round(math_reading_rate, 2)} % of students passed both math and reading')

65.17 % of students passed both math and reading

In [11]:
# District Summary
district_summary_df = pd.DataFrame({
    'Total Schools' : [school_sum],
    'Total Students' : [student_sum],
    'Total Budget' : [budget_sum],
    'Average Math Score' : [math_avg],
    'Average Reading Score' : [reading_avg],
    '% Passing Math' : [math_pass_rate],
    '% Passing Reading' : [reading_pass_rate],
    '% Overall Passing' : [math_reading_rate]})

# REQUIRES FORMATTING
############## FORMAT FORMAT FORMAT ########################
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)

district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

In [41]:
school_type = schools_df['Type'].value_counts()
print(school_type)
# School types
# school_type = schools_df['Type']
# school_type

Charter     8
District    7
Name: Type, dtype: int64

In [13]:
# Calculate the total student count per school

District    26976
Charter     12194
Name: Type, dtype: int64

In [ ]:
# Calculate the total school budget and per capita spending per school